.de{
    background-color: #0ec2da;
    height: 50px;
    width: 100%;
}
.yazi{
    height: 45px;
    width: 250px;
    margin-top: 4px;
    margin-left: -35px;
}
.buton{
    width: 102px;
    height: 29px;
    margin-right: 13px;
    margin-top: 9px;
    float: right;
}
.buton2{
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    border-style: solid;
    border: 0px;
    width: 102px;
    height: 29px;
    margin-right: 13px;
    margin-top: 9px;
    float: right;
}
.oyun{
    width: 900px;
    height: 300px;
    margin: auto;
}
.siradaki{
    margin: auto;
    width: 88px;
    height: 30px;
}
.alt{
    margin-top: -1px;
    background-color: rgba(193, 218, 218, 0.993);
    height: 111px;   
}